@charset 'utf-8';
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap');

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('../fonts/ProductSans-Medium.woff') format('woff');
  }

/* 
font-family: "Volkhov", serif;
font-family: "Poppins", sans-serif;
font-family: "Plus Jakarta Sans", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/*변수*/
:root{
  --txt-color : #5E6282;
  --white : white;
  --container : 1170px;
  --fz:16px;
  --lh:26px;
}


/*레이아웃*/
.container{
  width: var(--container);
  margin: 0 auto;
}

/*폰트*/
body{
  /*
  font-size: var(--fz);
  line-height: var(--lh);
  font-family: "Poppins", sans-serif;
  */
  font : var(--fz)/var(--lh) "Poppins", sans-serif;
}


/*링크 버튼*/