@charset 'utf-8';
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap');

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('../fonts/ProductSans-Medium.woff') format('woff');
}
/*
font-family: "Poppins", sans-serif;
font-family: "Volkhov", serif;
font-family: "Plus Jakarta Sans", sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Montserrat", sans-serif;
*/
/* 변수 */
:root{
  --txt-color : #5E6282;
  --white:white;
  --container:1170px;
  --fz:16px;
  --lh:26px;
}


/* 레이아웃 */
.container{
  width: var(--container);
  margin:0 auto;
}

main>section{
  padding : 90px 0;
}

.txt_center{
  text-align: center;
}

/* 폰트 */

body{
  /*
  font-size:var(--fz);
  line-height: var(--lh);
  font-family: "Poppins", sans-serif;
  */
  font:var(--fz)/var(--lh) "Poppins", sans-serif;
  color : var(--txt-color);
}

section .sec_sub_tt{
  color:#5E6282;
  font-size: 18px;
  line-height: 27px;
  margin-bottom : 10px;
  
}

section .sub_tt{
  color: #1E1D4C;
  font-family: "Volkhov", serif;
  font-size: 50px;
  line-height: 65px;
  margin-bottom : 60px;
}

/* 링크 버튼 */

/* HEADER */
header{ 
  background: 
  url(../images/Header_bg.svg) right top no-repeat,
  url(../images/Header_Ellipse.svg) left top no-repeat;
}
.top_nav{
  padding: 47px 0;
}
.top_nav > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_nav.fixed{
  position: fixed;
  padding: 20px 0;
  top: 0;
  left: 0; 
  right: 0;
  background: rgba(255,255,255,.8);
  box-shadow: 0 3px 3px rgba(0,0,0,.06);
}
.top_nav nav{
  display: flex;
  align-items: center;
}
.top_nav ul {
  display: flex;
}
.main_menu{
  gap:60px;
  margin-right: 86px;
}
.login_links{
  gap: 50px;
  margin-right: 42px;
}
.logo a{
  width: 116px;
  height: 35px;
  background: url(../images/Logo.svg) no-repeat;
  display: block;
  text-indent: -9999em;
}
.top_nav a{
  font-family: 'Product Sans Medium Regular';
  font-size: 17px;
  color:#212832;
}
.login_links a{
  height: 40px;
  padding: 0 20px;
  border:1px solid transparent;
  display: block;
  line-height: 40px;
  border-radius: 5px;  
  transition:0.3s;
}
.login_links a:hover{
  border-color:#212832;
}
.top_nav .dropdown{
  position: relative;
}
.top_nav .dropdown ul{
  position: absolute;
  right:0;
  top: 100%;
  padding: 5px;
  border:1px solid #212832;
  flex-direction: column;
  border-radius:5px;
  background: var(--white);
  display: none;
}
.top_nav .dropdown ul li{
  line-height: 30px;
  padding: 0 15px;
}
.top_nav .dropdown ul li:hover{
  color:#5E6282;
}

header .content{
  display: flex;
  justify-content: space-between;
}

header .content .desc{
  width: 545px;
}

header .content .desc h3{
  font: 20px/30px;
  font-weight: bold;
  text-transform: uppercase;
  color : #DF6951;
  margin-bottom: 24px;
}

header .content .desc h2{
  font:84px/89px "Volkhov", serif;
  font-weight: bold;
  color : #181E4B;
  letter-spacing: -0.04em;
  margin-bottom: 30px;
}

header .content .desc p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  width:477px;
  margin-bottom: 34px;
}

.cta{
  display: flex;
  gap:44px;
  align-items: center;
}

.cta a{
  line-height: 60px;
  background: #F1A501;
  border-radius: 10px;
  color : var(--white);
  padding : 0 26px;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 20px 35px rgba(245,165,1,.15);
}

.cta button{
  display: inline-flex;
  gap: 20px;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: #686D77;
}

.cta .icon{
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DF6951;
  color:var(--white);
  border-radius:50%;
  box-shadow: 0 15px 30px rgba(223,103,81,.3);
}

.content h2{
  position: relative;
  z-index: 0;
}


.content .desc em{
  position: relative;
  z-index: 0;
}

.content .desc em:after{
  content: '';
  position: absolute;
  width: 385px;
  height: 12px;
  background: url(../images/Header_title_bg.svg) no-repeat;  
  left: -32px;
  bottom: 15px;
  z-index: -1;
}

/*서비스*/

.services > div{
  position: relative;
}

.services > div:before{
  content:'';
  position: absolute;
  width: 153px;
  height: 166px;
  background: url(../images/services_right_top.svg) no-repeat;
  right: -77px;
  top:0;
}


.services .services_list{
  display: flex;
  justify-content:space-between;
}

.services_list li{
  width: 267px;
  padding: 0 42px 45px;
  height: 314px;
  padding : 0 42px;
  text-align: center;
  box-sizing: border-box;
  background: var(--white);
  border-radius: 36px;
  transition: 0.3s;
  position: relative;
}

.services_list li:hover{
  box-shadow:
  0 100px 80px rgba(0, 0, 0, .02),
  0 64px 46px rgba(0, 0, 0, .01),
  0 38px 25px rgba(0, 0, 0, .01),
  0 20px 13px rgba(0, 0, 0, .01),
  0 8px 6px rgba(0, 0, 0, 0.08),
  0 1.85px 3.15px rgba(0, 0, 0, 0.04);
}

.services_list li:after{
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  border-radius: 30px 0 10px 0;
  left: 20px;
  bottom:20px;
  z-index: -1;
  transition: 0.3s;
}

.services_list li:hover:after{
  transform: translate(-53px, 53px);
}

.services figure{
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services h3{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color:#1E1D4C;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 15px;
  white-space: nowrap;
}

.services p{
  line-height: 26px;
}

/*destinations*/
.destinations_list{
  padding: 0 92px 0 32px;
  display: flex;
  justify-content: space-between;
  background: url(../images/top_destination_bg.svg) no-repeat 1044px bottom;
}

.destinations_list li{
  width: 315px;
  position: relative;
  border-radius:24px;
  overflow: hidden;
  box-shadow: 
    0px 100px 80px 0px rgba(0, 0, 0, 0.02), 
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 
    0px 20px 13px 0px rgba(0, 0, 0, 0.01), 
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
}

.destinations_list li img{
  width: 100%;
  border-radius:24px;
}

.destinations_list li figcaption{
  position: absolute;
  padding: auto;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--white);
  padding : 27px 25px 42px 20px;
}
.destinations_list h4{
  display:flex;
  justify-content: space-between;
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.destinations_list p{
  display: flex;
  gap: 14px;
  align-items: center;
  font-size: 16px;
}

.destinations_list p i{
  color:#000;
}