@charset 'utf-8';
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap');
@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('../fonts/ProductSans-Medium.woff') format('woff');
}
/*
font-family: "Poppins", sans-serif;
font-family: "Volkhov", serif;
font-family: "Plus Jakarta Sans", sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Montserrat", sans-serif;
*/
/* 변수 */
:root{
  --txt-color : #5E6282;
  --white:white;
  --container:1170px;
  --fz:16px;
  --lh:26px;
}
/* 레이아웃 */
.container{
  width: var(--container);
  margin:0 auto;
}
main>section{
  padding: 90px 0;
}
.txt_center{
  text-align: center;
}
/* 폰트 */
body{
  /*
  font-size:var(--fz);
  line-height: var(--lh);
  font-family: "Poppins", sans-serif;
  */
  font:var(--fz)/var(--lh) "Poppins", sans-serif;
  color:var(--txt-color);
}
section .sec_sub_tt{
  font-size: 18px;
  line-height:27px;
  color: #5E6282;
  margin-bottom: 10px;
}
section .sec_tt{
  font-family: "Volkhov", serif;
  font-size: 50px;
  line-height: 65px;
  color: #14183E;
  margin-bottom: 60px;
}
/* 링크 버튼 */
/* HEADER */
header{ 
  background: 
  url(../images/header_bg.svg) right top no-repeat,
  url(../images/header_ellipse.svg) left top no-repeat;
}
.top_nav{
  padding: 47px 0;
}
.top_nav > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_nav.fixed{
  position: fixed;
  padding: 20px 0;
  top: 0;
  left: 0; 
  right: 0;
  background: rgba(255,255,255,.8);
  box-shadow: 0 3px 3px rgba(0,0,0,.06);
}
.top_nav nav{
  display: flex;
  align-items: center;
}
.top_nav ul {
  display: flex;
}
.main_menu{
  gap:60px;
  margin-right: 86px;
}
.login_links{
  gap: 50px;
  margin-right: 42px;
}
.logo a{
  width: 116px;
  height: 35px;
  background: url(../images/Logo.svg) no-repeat;
  display: block;
  text-indent: -9999em;
}
.top_nav a{
  font-family: 'Product Sans Medium Regular';
  font-size: 17px;
  color:#212832;
}
.login_links a{
  height: 40px;
  padding: 0 20px;
  border:1px solid transparent;
  display: block;
  line-height: 40px;
  border-radius: 5px;  
  transition:0.3s;
}
.login_links a:hover{
  border-color:#212832;
}
.top_nav .dropdown{
  position: relative;
}
.top_nav .dropdown ul{
  position: absolute;
  right:0;
  top: 100%;
  padding: 5px;
  border:1px solid #212832;
  flex-direction: column;
  border-radius:5px;
  background: var(--white);
  display: none;
}
.top_nav .dropdown ul li{
  line-height: 30px;
  padding: 0 15px;
}
.top_nav .dropdown ul li:hover{
  color:#5E6282;
}
header .content{
  display: flex;
  justify-content: space-between;
}
header .content .desc{
  width: 545px;
}
header .content .desc h3{
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #DF6951;
  text-transform: uppercase;
  margin-bottom: 24px;
}
header .content .desc h2{
  color: #181E4B;
  font-family: Volkhov;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -3.36px;
  margin-bottom: 30px;
}
header .content .desc p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  width: 477px;
  margin-bottom: 34px;
}
.desc h2{
  position: relative;
  z-index: 0;
}
.desc em{
  position: relative;  
}
.desc em:after{
  content:'';
  position: absolute;
  width: 385px;
  height: 12px;
  background: url(../images/header_title_bg.svg) no-repeat;
  left: -32px;
  bottom: 15px;
  z-index: -1; 
}
.cta{
  display: flex;
  gap:44px;
  align-items: center;
}
.cta a{
  line-height: 60px;
  background: #F1A501;
  border-radius:10px;
  color:var(--white);
  padding: 0 26px;
  display: inline-block;
  font-family: 'Product Sans Medium Regular';
  box-shadow: 0 20px 35px rgba(241,165,1,.15);
}
.cta button {
  display: inline-flex;
  gap: 20px;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color:#686D77;
}
.cta button .icon{
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;  
  align-items: center;
  background: #DF6951;
  color: var(--white);
  border-radius:50%;
  box-shadow:0 15px 30px rgba(223,105,81,.3)
}
/* Services */
.services > div{
  position: relative;
}
.services > div:after{
  content:'';
  position: absolute;
  width: 153px;
  height: 166px;
  background: url(../images/services_right_top.svg) no-repeat;
  right: -75px;
  top:0;
}
.services_list{
  display: flex;
  justify-content: space-between;
}
.services_list li{
  width: 267px;
  padding: 0 42px 45px;
  box-sizing: border-box;
  text-align: center;
  background:  var(--white);
  border-radius:36px;
  transition:0.3s;
  position: relative;
}
.services_list li:after{
  content:'';
  position: absolute;
  width: 100px;
  height: 100px;
  background: #DF6951;
  left: 20px;
  bottom: 20px;
  border-radius:30px 0 10px 0;
  z-index:-1;
  transition:0.3s;
}
.services_list figure{
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services_list li h3{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 15px;
  color: #1E1D4C;
  white-space: nowrap;
}
.services_list li:hover{
  box-shadow:
    0 1.85px 3.15px rgba(0,0,0,0.048),
    0 8.15px 6.52px rgba(0,0,0,0.079),
    0 20px 13px rgba(0,0,0,0.01),
    0 39px 25px rgba(0,0,0,0.0121),
    0 64px 47px rgba(0,0,0,0.0152),
    0 100px 80px rgba(0,0,0,0.02);
}
.services_list li:hover:after{
  transform:translate(-53px, 53px);
}
/* DESTINATION */
.destinations_list {
  padding: 0 92px 0 32px;
  display: flex;
  justify-content: space-between;
  background: url(../images/top_destination_bg.svg) no-repeat 1044px bottom;
}
.destinations_list li{
  width: 315px;
  position: relative;
  border-radius:24px;
  overflow: hidden;
  box-shadow: 
    0px 100px 80px 0px rgba(0, 0, 0, 0.02), 
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 
    0px 20px 13px 0px rgba(0, 0, 0, 0.01), 
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
}
.destinations_list li img{
  border-radius:24px;
  width: 100%;
}
.destinations_list li figcaption{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--white);  
  padding: 27px 25px 42px 20px;
}
.destinations_list h4{
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}
.destinations_list p{
  display: flex;
  gap:14px;
  align-items: center;
  font-size: 16px;
}
.destinations_list p i{
  color: #000;
}
/* book_a_trip */
.book_a_trip {
  display: flex;
  justify-content: space-between;
  background: url(../images/book_bg.svg) right top no-repeat;
}
.book_a_trip .content{
  width: 511px;
}
.book_a_trip .pic_of_month{
  margin-top: 80px;
  width: 485px;
  position: relative;
}
.book_a_trip .sec_tt{
  margin-bottom: 31px;
}
.steps {
  display: flex;
  flex-direction: column;
  gap:48px;
}
.steps li{
  display: flex;
  gap:20px;
}
.steps .icon{
  width: 47px;
  height: 48px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.steps .desc{
  width: 327px;
}
.steps li:nth-child(1) .icon{
  background: #F0BB1F;
}
.steps li:nth-child(2) .icon{
  background: #F15A2B;
}
.steps li:nth-child(3) .icon{
  background: #006380;
}
.steps .desc h4{
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
.steps .desc p{
  line-height: 1.24;
}
.pic_of_month .detail{
  width: 370px;
  box-sizing: border-box;
  padding: 20px 24px 30px;
  border-radius:26px;
  background: var(--white);
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
  0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
  0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
  0px 20px 13px 0px rgba(0, 0, 0, 0.01),
  0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
  0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
}

.pic_of_month .detail img{
  margin-bottom: 20px;
}
.pic_of_month .detail h4{
  font-size: 18px;
  line-height:1.24;
  color: #080809;
  font-weight: 600;
  margin-bottom: 13px;
  letter-spacing: 0.015em;
}

.pic_of_month .detail p{
  padding: 2px 0;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #84829A;
}
.pic_of_month .detail .date{
  border-right:1px solid #84829A;
  display: inline-block;
  padding-right: 5px;
}
.pic_of_month .detail ul{
  display: flex;
  gap:18px;
  margin:20px 0 30px;
}
.pic_of_month .detail ul li{
  width: 36px;
  height: 36px;
  background: #F5F5F5;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.pic_of_month .detail ul li a{
  color: #84829A;
}
.pic_of_month .people{
  display: flex;
  justify-content: space-between;
}
.ongoing{
  display: flex;
  gap:10px;
  align-items: flex-start;
  position: absolute;
  padding: 20px 25px 22px 18px;  
  left: 222px;
  bottom: 52px;
  background: var(--white);
  border-radius: 18px;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
  0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
  0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
  0px 20px 13px 0px rgba(0, 0, 0, 0.01),
  0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
  0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
}
.ongoing h5{
  font-size: 14px;
  line-height: 1.24;
  color: #84829A;
  margin-bottom: 6px;
}
.ongoing h4{
  color: #080809;
  font-size: 18px;
  line-height: 1.24;
  font-weight: 500;
  margin-bottom: 14px;
}
.ongoing p{
  font-size: 14px;
  line-height: 1.24;
  letter-spacing: -0.055em;
  color: #080809;
  font-weight: 500;
}

.ongoing p .percent{
  color: #8A79DF;
  margin-right: 4px;
}

.progress_bar{
  position: relative;
  width: 156px;
  height: 5px;
  border-radius: 2.5px;
  background: #f5f5f5;
  margin-top: 10px;
}

.progress_bar .bar{
  position: absolute;
  width: 73px;
  background: #8A79DF;
  border-radius: 2.5px;
  left: 0;
  top: 0;
  height: 5px;
}